<main>
    <div class="login">
        <h3>Share</h3>
        <hr>
        <h3> {{filename}} </h3>
        <p> {{desc}} </p>
        <hr>
        <span> Share this file with follow link </span>
        <input type="text" disabled value="http://{{host}}:{{port}}/file/{{link}}">
    </div>
</main>